# Environments para ocultar
.env
**/.env
*.env


# Licence Gurobi
gurobi.lic
**/gurobi.lic
*gurobi.lic


# pkl data and artifact models
.pkl
**/.pkl
*.pkl

# file with sensible information
.xlsx
**/.xlsx
*.xlsx

# files images
.png
**/.png
*.png

.html
**/.html
*.html



